<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/12_SQL_test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# montar datos
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# cargar datos: ¡cambia la ruta para que coincida con tu unidad!
school = pd.read_csv('/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/12º SQL/School_Details.csv')
# Asegúrate de que estén cargados correctamentecopy
school.head(2)

  DistrictName EstablishmentCode  ... HighestClass BoardName
0         East             S0169  ...      Class 5       NaN
1         East             S0099  ...     Class 12  C.B.S.E.

[2 rows x 30 columns]

In [ ]:
# crear motor sqlite
engine = create_engine('sqlite:///school.db', echo=True)
# crear conexión con el motor
conn = engine.connect()

In [ ]:
# agregar marco de datos como una tabla en sqlite
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')

2021-11-02 17:41:42,985 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2021-11-02 17:41:42,987 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-02 17:41:42,991 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2021-11-02 17:41:42,993 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-02 17:41:43,005 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2021-11-02 17:41:43,007 INFO sqlalchemy.engine.Engine [no key 0.00213s] ()
2021-11-02 17:41:43,035 INFO sqlalchemy.engine.Engine COMMIT
2021-11-02 17:41:43,038 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2021-11-02 17:41:43,041 INFO sqlalchemy.engine.Engine [no key 0.00285s] ()
2021-11-02 17:41:43,055 INFO sqlalchemy.engine.Engine COMMIT
2021-11-02 17:41:43,065 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-02 17:41:43,136 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-11-02 17:41:43,139 INFO sqlalchemy.engine.Engine [generated in 0.06313s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2021-11-02 17:41:43,161 INFO sqlalchemy.engine.Engine COMMIT

Ahora, escribe consultas SQL para responder las siguientes preguntas. ¡Podemos usar Pandas para ejecutar consultas SQL! Para hacer esto, escribimos una consulta SQL en una cadena de varias líneas. Puedes ejecutarlo usando read_sql_query  de Pandas con este código:

In [ ]:
# Escribe tu consulta SQL en esta cadena
sql = """
Replace this text
with your query!
"""
# Lee la consulta sql en pandas para ver los resultados
df = pd.read_sql_query(sql, engine)
df.head()

2021-11-02 17:41:58,878 INFO sqlalchemy.engine.Engine
Replace this text
with your query!

2021-11-02 17:41:58,880 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-02 17:41:58,883 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: ignored


Llama las columnas NombreEstablecimiento, NivelEscolar y SitioWeb.

Muestra el NombreEstablecimiento y DistanciaDistrito (en km) de colegios en los que DistanciaDistrito (en km) es más de 100 km.0

Muestra NombreEstablecimiento, NivelEscolar, DistanciaDistrito (en km) de colegios donde el nivel escolar es Junior High School.

Muestra NombreEstablecimiento, NivelEscolar, DistanciaDistrito (en km) de colegios que contengan las palabras “Junior High” en su nombre.

Muestra NombreEstablecimiento, NivelEscolar, DistanciaDistrito (en km) de colegios cuyo nombre comience con la letra “C”. Ordena los resultados de forma alfabética por nombre de colegio  y limita los resultados de la consulta a 10 líneas.

Muestra los nombres de los colegios de áreas urbanas. Ordena los resultados en orden alfabético inverso.

Repite la consulta anterior, pero renombra la columna que se muestra como “nombre”.