<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/3_6_Visualizaci%C3%B3n_Arsenal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 Importar librerías

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2 Montar Google Drive Colab

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 3 Cargar Dataset

In [6]:
filename = '/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/3º semana/3.6.Week51.xlsx'
df = pd.read_excel(filename)
df.head(5)

    Season  Played  Won  Drawn  ...  Points  Position  Final Points  Final Position
0  1992/93      19    9      2  ...      29         8          56.0            10.0
1  1993/94      21    9      7  ...      34         5          71.0             4.0
2  1994/95      19    6      6  ...      24        11          51.0            12.0
3  1995/96      18    8      7  ...      31         6          63.0             5.0
4  1996/97      17   10      5  ...      35         2          68.0             3.0

[5 rows x 12 columns]

In [ ]:
]]