<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/5_10Knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
# Para escalar datos
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier

KNN se puede utilizar para problemas de clasificación o regresión. La tarea aquí es clasificar flores del conjunto de datos de Iris usando KNN. Presta mucha atención al paso de estandarización y la precisión de este algoritmo. Piensa por qué el algoritmo es efectivo y por qué podría no serlo para predecir datos que no están en nuestro conjunto de datos.

In [2]:
data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)
df['target'] = data.target
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [10]:
df.tail()

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[5 rows x 5 columns]

# Organizar los datos en una matriz de características y un vector de destino

In [3]:
X = df.loc[:, ['sepal length (cm)', 
               'sepal width (cm)',
               'petal length (cm)',
               'petal width (cm)']]

In [4]:
# La matriz debe ser bidimensional
X.shape

(150, 4)

In [5]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
y = df.loc[:, 'target'].values

In [7]:
y.shape

(150,)

In [9]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

# Estandarizar Datos

In [11]:
scaler = StandardScaler()
# Ajusta en X (asumiendo que tu matriz de características es una matriz NumPy)
scaler.fit(X)
# Transform X
X = scaler.transform(X);

# Importar Modelo a usar

In [12]:
from sklearn.neighbors import KNeighborsClassifier

# Crear instancia de modelo

Este es un lugar donde puedes ajustar los hiperparámetros de un modelo. En el caso de KNN n_neighbors=1 es un modelo en el que la etiqueta de un punto desconocido es la misma que la etiqueta del punto más cercano en el que encajaba. Ten en cuenta que ajustar nuestro modelo a los mismos datos que usaremos para hacer predicciones no será algo que hagamos durante el resto del curso.

In [13]:
knn = KNeighborsClassifier(n_neighbors=1)

In [14]:
knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

# Entrenar el modelo

In [15]:
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

# Predecir los valores de los mismos datos en los que se ajustó

In [16]:
predictions = knn.predict(X)

In [17]:
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [18]:
# calcular la precisión de la clasificación
score = knn.score(X, y)
score

1.0