<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/7_4_Regresi%C3%B3n_log%C3%ADstica_Banco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ¿Regresión logística, bosque aleatorio o KNN?

Utilizando el wine cultivars dataset de la sección de clasificación multiclase, tu tarea es utilizar modelos de regresión logística (uno frente a uno y uno frente a todos) y ajustarlos para su rendimiento óptimo. También debes intentar comparar el efecto de cuando intentas utilizar la regularización l1 y l2. Esta es una gran oportunidad para ver qué sucede cuando intentas ajustar un modelo. Después de hacer eso, intenta usar los modelos KNN, Bagged tree y Random Forest.

Preguntas para pensar y responder

Después de completar la tarea, responde las siguientes preguntas:

1 ¿Qué modelo funcionó mejor?

2 ¿Cuáles son las características más importantes de tus modelos? ¿Hay algún modelo que te haya gustado más y por qué?

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

#import model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
col_names = ['Class label', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols',
'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins','Color intensity', 'Hue', 'OD280/OD315 of diluted wines','Proline']

In [ ]:
filename = ('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

df = pd.read_csv(filename, header = None, names = col_names)
df.head()

   Class label  Alcohol  ...  OD280/OD315 of diluted wines  Proline
0            1    14.23  ...                          3.92     1065
1            1    13.20  ...                          3.40     1050
2            1    13.16  ...                          3.17     1185
3            1    14.37  ...                          3.45     1480
4            1    13.24  ...                          2.93      735

[5 rows x 14 columns]

In [ ]:
df.isnull().sum()

Class label                     0
Alcohol                         0
Malic acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

In [ ]:
df['Class label'].value_counts()

2    71
1    59
3    48
Name: Class label, dtype: int64

# Logistic Regression One vs One

In [ ]:
X = df.drop(columns ='Class label')
y = df['Class label']

In [ ]:
#Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.3,
                                                    random_state = 0,
                                                    stratify = y)

In [ ]:
#Standarización variables
scaler = StandardScaler()

#ajustar solo set de entrnamiento

scaler.fit(X_train)

#aplicar la transformación en ambos data set. Train and Test
X_train =scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
#logistic regression one v one
from sklearn.multiclass import OneVsOneClassifier

log_reg = LogisticRegression()
ovo = OneVsOneClassifier(log_reg)
ovo.fit(X_train, y_train)

print('Training accuracy', ovo.score(X_train, y_train))
print('Training accuracy', ovo.score(X_test, y_test))

Training accuracy 1.0
Training accuracy 1.0

# Logistic Regression One versus All

In [ ]:
#logistic regression one v all

log_reg = LogisticRegression(multi_class= 'ovr')
log_reg.fit(X_train, y_train)

print('Training accuracy', log_reg.score(X_train, y_train))
print('Training accuracy', log_reg.score(X_test, y_test))

Training accuracy 1.0
Training accuracy 1.0

# Logistic Regression 1 regularization