<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/8_2_Exercise_Kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Usaremos la edad del cliente, los años de educación en el empleo, los ingresos, la deuda, si incumplieron y la relación deuda: ingresa el índice para separarlos por segmentos. Puedes descargar los datos aquí. Los datos originales provienen de esta fuente.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd # working with data
import numpy as np # working with arrays
import matplotlib.pyplot as plt # visualization
import seaborn as sb # visualization
from mpl_toolkits.mplot3d import Axes3D # 3d plot
from termcolor import colored as cl # text customization

from sklearn.preprocessing import StandardScaler # data normalization
from sklearn.cluster import KMeans # K-means algorithm

In [ ]:
filename = ('/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/8º semana: Kmeans, Jerarquico, DBSCAN/cust_seg.csv')

df = pd.read_csv(filename)

df.head()

   Unnamed: 0  Customer Id  Age  ...  Other Debt  Defaulted  DebtIncomeRatio
0           0            1   41  ...       1.073        0.0              6.3
1           1            2   47  ...       8.218        0.0             12.8
2           2            3   33  ...       5.802        1.0             20.9
3           3            4   29  ...       0.516        0.0              6.3
4           4            5   47  ...       8.908        0.0              7.2

[5 rows x 10 columns]

In [ ]:
df.drop(columns= ['Unnamed: 0', ], axis =1 , inplace= True)
df.head()

   Customer Id  Age  Edu  ...  Other Debt  Defaulted  DebtIncomeRatio
0            1   41    2  ...       1.073        0.0              6.3
1            2   47    1  ...       8.218        0.0             12.8
2            3   33    2  ...       5.802        1.0             20.9
3            4   29    2  ...       0.516        0.0              6.3
4            5   47    1  ...       8.908        0.0              7.2

[5 rows x 9 columns]

In [ ]:
df.set_index('Customer Id', inplace = True)

In [ ]:
df.isnull().sum()

Customer Id          0
Age                  0
Edu                  0
Years Employed       0
Income               0
Card Debt            0
Other Debt           0
Defaulted          150
DebtIncomeRatio      0
dtype: int64

In [ ]:
df.dropna(inplace = True)
df.isnull().sum()

Age                0
Edu                0
Years Employed     0
Income             0
Card Debt          0
Other Debt         0
Defaulted          0
DebtIncomeRatio    0
dtype: int64

# Parte 1
Utiliza KMeans para crear varios segmentos de clientes

In [ ]:
X = df.values

In [ ]:
# Instancia de escalador estándar
scaler = StandardScaler()
# Ajustar y transformar datos
scaled_df = scaler.fit_transform(X)

In [ ]:
# Instanciar KMeans
kmeans = KMeans(n_clusters = 3)
kmeans.fit(scaled_df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

# Parte 2

Explora tus diversos segmentos de clientes. ¿Cuáles son las tendencias en los segmentos? Crea al menos dos visualizaciones que exploren las tendencias en los grupos.