<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/bike_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
filename = '/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/RailsToTrails_National_Count_Data_week.xlsx'
bike_df = pd.read_excel(filename)
bike_df

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
1     Week 2 2020-01-06  ...         NaN         NaN
2     Week 3 2020-01-13  ...         NaN         NaN
3     Week 4 2020-01-20  ...         NaN         NaN
4     Week 5 2020-01-27  ...         NaN         NaN
5     Week 6 2020-02-03  ...         NaN         NaN
6     Week 7 2020-02-10  ...         NaN         NaN
7     Week 8 2020-02-17  ...         NaN         NaN
8     Week 9 2020-02-24  ...         NaN         NaN
9    Week 10 2020-03-02  ...         NaN         NaN
10   Week 11 2020-03-09  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN
15   Week 16 2020-04-13  ...         NaN         NaN
16   Week 17 2020-04-20  ...         NaN         NaN
17   Week 18 2020-04-27  ...         NaN         NaN
18   Week 19 2020-05-04  ...         NaN         NaN
19   Week 20 2020-05-11  ...         NaN         NaN
20   Week 21 2020-05-18  ...         NaN         NaN
21   Week 22 2020-05-25  ...         NaN         NaN
22   Week 23 2020-06-01  ...         NaN         NaN
23   Week 24 2020-06-08  ...         NaN         NaN
24   Week 25 2020-06-15  ...         NaN         NaN
25   Week 26 2020-06-22  ...         NaN         NaN
26   Week 27 2020-06-29  ...         NaN         NaN
27   Week 28 2020-07-06  ...         NaN         NaN
28   Week 29 2020-07-13  ...         NaN         NaN
29   Week 30 2020-07-20  ...         NaN         NaN
30   Week 31 2020-07-27  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN
46   Week 47 2020-11-16  ...         NaN         NaN
47   Week 48 2020-11-23  ...         NaN         NaN
48   Week 49 2020-11-30  ...         NaN         NaN
49   Week 50 2020-12-07  ...         NaN         NaN
50   Week 51 2020-12-14  ...         NaN         NaN
51   Week 52 2020-12-21  ...   26.728808    0.514016

[52 rows x 10 columns]

In [32]:
data2 = bike_df.copy()

01.Selecciona solo los datos después del 31 de julio de 2020.

02.Selecciona solo los datos donde la columna «Change 2019-2020» sea mayor que 100% (más de 1).

03.Selecciona esto! ¿Hubo alguna semana en la segunda mitad del año (luego del 31 de julio de 2020) donde el cambio fuera mayor que 100%?

In [33]:
data2.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [34]:
filtro1 = (data2['Week of'] > '2020-07-31')
filtro2_df=data2.loc[filtro1]
filtro2_df

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN
46   Week 47 2020-11-16  ...         NaN         NaN
47   Week 48 2020-11-23  ...         NaN         NaN
48   Week 49 2020-11-30  ...         NaN         NaN
49   Week 50 2020-12-07  ...         NaN         NaN
50   Week 51 2020-12-14  ...         NaN         NaN
51   Week 52 2020-12-21  ...   26.728808    0.514016

[22 rows x 10 columns]

In [35]:
filtro1 = (data2['Change 2019-2020'] > 1)
filtro2_df=data2.loc[filtro1]
filtro2_df

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
7     Week 8 2020-02-17  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN

[5 rows x 10 columns]

In [39]:
filtro1 = (data2['Week of'] > '2020-07-31')
filtro2 = (data2['Change 2019-2020'] > 1)
filtro3_df= data2.loc[filtro1 & filtro2,:]
filtro3_df

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []