<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/Cambio_de_nombre%2C_borrar_y_datos_faltantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
filename = '/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/RailsToTrails_National_Count_Data_week.xlsx'
bike_df = pd.read_excel(filename)
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [6]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     int64
 3    2020 counts (31 counters)  52 non-null     int64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   Unnamed: 6                  52 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 4.2+ KB

In [8]:
bike_df.shape

(52, 10)

**01. Completa lo siguiente:**

- Unnamed: 7
- Unnamed: 8
- Unnamed: 9

**02. Cambia el nombre de la columna Unnamed: 6 a percent_change.**

In [9]:
bike_df = bike_df.rename(columns= {'Unnamed: 6' : 'percent_change'})
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

**03. ¿Cuántos valores faltantes hay en el conjunto de datos?¿En qué columnas se encuentran?**

In [10]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     int64
 3    2020 counts (31 counters)  52 non-null     int64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   percent_change              52 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 4.2+ KB

In [22]:
missing = bike_df.isna().sum()
missing

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
Unnamed: 7                    52
Unnamed: 8                    51
Unnamed: 9                    51
dtype: int64

**04. Ingresa todos los valores faltantes de la columna 2021 Counts con 0.**

In [23]:
fill_2021_Counts = bike_df['2021 Counts'].fillna(0)
fill_2021_Counts.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 2021 Counts, dtype: float64

**05. Opcional/Bonus: Hay un problema desafiante pero común en el nombre de la columna de conteo 2019. ¿Lo puedes encontrar? Si lo logras, cámbiale el nombre a la columna conteo 2019 (31 contadores) a "conteos_2019" (un nombre de columna más Pythónico).**

In [34]:
bike_df = bike_df.rename(columns= { '2019 counts (31 counters)' :'conteos_2019' }, inplace = True)
bike_df.head()

AttributeError: ignored