<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/Estatura_Mean_olimpista_a%C3%B1o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
filename = '/content/drive/MyDrive/PTDataScience/PandasForDataManipulation/athleteEventsNoPersonal.csv'
df = pd.read_csv(filename)
df.head(5)

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[5 rows x 12 columns]

In [10]:
df.info

<bound method DataFrame.info of            ID   Age  ...                                     Event Medal
0           5  21.0  ...          Speed Skating Women's 500 metres   NaN
1           5  21.0  ...        Speed Skating Women's 1,000 metres   NaN
2           5  25.0  ...          Speed Skating Women's 500 metres   NaN
3           5  25.0  ...        Speed Skating Women's 1,000 metres   NaN
4           5  27.0  ...          Speed Skating Women's 500 metres   NaN
...       ...   ...  ...                                       ...   ...
40611  135567  28.0  ...    Rowing Men's Lightweight Coxless Fours   NaN
40612  135570  27.0  ...  Ski Jumping Men's Large Hill, Individual   NaN
40613  135570  27.0  ...        Ski Jumping Men's Large Hill, Team   NaN
40614  135571  30.0  ...                      Bobsleigh Men's Four   NaN
40615  135571  34.0  ...                      Bobsleigh Men's Four   NaN

[40616 rows x 12 columns]>

In [12]:
df.shape

(40616, 12)

In [13]:
df.groupby(['ID', 'Year'])['Height'].agg('mean')

ID      Year
5       1988    185.0
        1992    185.0
        1994    185.0
6       1992    188.0
        1994    188.0
                ...
135567  2000    183.0
        2004    183.0
135570  2014    176.0
135571  1998    185.0
        2002    185.0
Name: Height, Length: 28189, dtype: float64