<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/hello_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. TASK: print "Hola, mundo"
print( your code here )
# 2. print "Hola Noelle!" con el nombre de una variable
name = "Noelle"
print( your code here )	# con una coma
print( your code here )	# con un +
# 3. print "Hola 42!" con el número en una variable
name = 42
print( your code here )	# con una coma
print( your code here )	# con un +	-- ¡esta nos debería arrojar un error!
# 4. print "Amo comer sushi y pizza." con las comidas en variables
fave_food1 = "sushi"
fave_food2 = "pizza"
print( your code here ) # with .format()
print( your code here ) # with an f string

In [21]:
# 1. TASK: print "Hola, mundo"
print( "Hola, mundo" )

Hola, mundo

In [35]:
# 2. print "Hola Noelle!" con el nombre de una variable
name = "Noelle"
print("Hola", name,"!")	# con una coma
print( "Hola" " " + name + "!")	# con un +

Hola Noelle !
Hola Noelle!

In [37]:
# 3. print "Hola 42!" con el número en una variable
name = 42
print( "Hola", name )	# con una coma
print( "Hola" + name )	# con un +	-- ¡esta nos debería arrojar un error!

Hola 42

TypeError: ignored

In [39]:
# 4. print "Amo comer sushi y pizza." con las comidas en variables
fave_food1 = "sushi"
fave_food2 = "pizza"
print("Amo comer {} y {}".format(fave_food1, fave_food2) ) # with .format()
print( f"Amo comer {fave_food1} y {fave_food2}" ) # with an f string

Amo comer sushi y pizza
Amo comer sushi y pizza