<a href="https://colab.research.google.com/github/sebagit914/Challenge01/blob/master/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!git clone https://github.com/MinCiencia/Datos-COVID19.git

Cloning into 'Datos-COVID19'...
remote: Enumerating objects: 130700, done.
remote: Counting objects: 100% (2025/2025), done.
remote: Compressing objects: 100% (755/755), done.
remote: Total 130700 (delta 1297), reused 1984 (delta 1260), pack-reused 128675
Receiving objects: 100% (130700/130700), 6.28 GiB | 23.59 MiB/s, done.

In [ ]:
filename = '/content/Datos-COVID19/output/producto1/Covid-19.csv'

df = pd.read_csv(filename)
df.head(5)

               Region  Codigo region  ... 2021-10-08     Tasa
0  Arica y Parinacota             15  ...    30536.0  12335.2
1  Arica y Parinacota             15  ...       70.0   5677.2
2  Arica y Parinacota             15  ...       88.0  10864.2
3  Arica y Parinacota             15  ...      213.0   8469.2
4  Arica y Parinacota             15  ...      175.0      NaN

[5 rows x 168 columns]

In [ ]:
df.tail()

         Region  Codigo region  ... 2021-10-08     Tasa
357  Magallanes             12  ...       17.0   8056.9
358  Magallanes             12  ...       74.0  10866.4
359  Magallanes             12  ...       42.0  14893.6
360  Magallanes             12  ...       22.0   2154.8
361  Magallanes             12  ...       13.0      NaN

[5 rows x 168 columns]

In [ ]:
df.isna().sum()

Region            0
Codigo region     0
Comuna            0
Codigo comuna    16
Poblacion        16
                 ..
2021-09-27        0
2021-10-01        0
2021-10-04        0
2021-10-08        0
Tasa             16
Length: 168, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Columns: 168 entries, Region to Tasa
dtypes: float64(165), int64(1), object(2)
memory usage: 475.2+ KB

In [ ]:
df.columns

Index(['Region', 'Codigo region', 'Comuna', 'Codigo comuna', 'Poblacion',
       '2020-03-30', '2020-04-01', '2020-04-03', '2020-04-06', '2020-04-08',
       ...
       '2021-09-10', '2021-09-13', '2021-09-17', '2021-09-20', '2021-09-24',
       '2021-09-27', '2021-10-01', '2021-10-04', '2021-10-08', 'Tasa'],
      dtype='object', length=168)